* {
    background-color: #87CEFB;
}

img{
    width: 450px;
    margin-bottom: 40px;
}

.h1 {
    display: flex;
    justify-content: space-around;
    color: wheat;
    font-size: 60px;
}

.p {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 20px;
}

a {
    color: wheat;
    text-shadow: -1px 0 rgb(223, 183, 110), 0 1px rgb(223, 183, 110), 1px 0 rgb(223, 183, 110), 0 -1px rgb(223, 183, 110);
    text-decoration: none;
    font-size: 100px;
    margin-left: 500px;
    margin-bottom: 200px;
}

a:hover {
    color: green;
    text-shadow: -1px 0 rgb(111, 197, 111), 0 1px rgb(111, 197, 111), 1px 0 rgb(111, 197, 111), 0 -1px rgb(111, 197, 111);
}