* {
    background-color: #87CEFB;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
    

.back {
    display: flex;
    justify-content: center;
    text-shadow: -1px 0 rgb(223, 183, 110), 0 1px rgb(223, 183, 110), 1px 0 rgb(223, 183, 110), 0 -1px rgb(223, 183, 110);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 400px;
}

a {
    text-decoration: none;
    color: wheat;
}

.back :hover {
    color: green;
    text-shadow: -1px 0 rgb(111, 197, 111), 0 1px rgb(111, 197, 111), 1px 0 rgb(111, 197, 111), 0 -1px rgb(111, 197, 111);
}

.oops {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 200px;
  animation: fadeIn 1s;
}

.cry {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 300px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }