* {
    background-color: #87CEFB;
}

p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: wheat;
    text-shadow: -1px 0 rgb(223, 183, 110), 0 1px rgb(223, 183, 110), 1px 0 rgb(223, 183, 110), 0 -1px rgb(223, 183, 110);
}