* {
    background-color: #87CEFB;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    color: wheat;
    text-shadow: -1px 0 rgb(223, 183, 110), 0 1px rgb(223, 183, 110), 1px 0 rgb(223, 183, 110), 0 -1px rgb(223, 183, 110);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
}